<h1>MySpace</h1>
<ul>
	<li><%= link_to "Home", root_path  %></li>
	<li><%= link_to "Shouty Greeter", new_shout %></li>
	<li><%= link_to "Fizz Buzz", new_fizzbuzz %></li>
	<li><%= link_to "MySpace Name Generator", new_myspace %></
</ul>